$primary:green; 
$fontThin: 300; 
$col-3:#deb2ee; 
$col-4:#7ee6fd;
$col-6:#4da2bb; 
$col-7:#ec9fa3; 
$px10: 10px;
$imagesleft: auto;
$imagesright: auto;
$media-query-margin-left: auto; 
$media-query-margin-right: auto;
$breakpoint-tablet:min-width 768px;
